<div id="exchange-rate-container">
  <div id="exchange-inputs-container">
    <div class="exchange-input-element">
      <label class="exchange-label">Base:</label>
      <select id="base-currency">
        <option>First</option>
        <option>Second</option>
      </select>
    </div>
    <div class="exchange-input-element">
      <label class="exchange-label">Date:</label>
      <input type="date" id="exchange-date">
    </div>
    <button id="display-exchange-rates">Display</button>
</div>
  <div id="exchange-rates-table">
    <table>
      <thead>
        <tr>
          <th>Currency</th>
          <th>Buy</th>
          <th>Sell</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>EUR</td>
          <td>5.0123</td>
          <td>7.5678</td>
        </tr>
        <tr>
          <td>USD</td>
          <td>3.1134</td>
          <td>5.6521</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div>{{exchangeRates.base}}</div>
<div>{{exchangeRates.date}}</div>